<!-- Header -->
<div class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-11 col-lg-offset-1">
                <div class="intro-message">
                    <h1>Professionel Skødeskrivning</h1>
                    <hr class="intro-divider">
                    <h3>Dokumentgennemgang &amp; rådgivning</h3>
                    <h3>Skødeskrivning ved boligkøb</h3>
                    <h3>Tinglysning &amp; berigtigelse</h3>
                    <br>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>
<!-- /.intro-header -->
<!-- Page Content -->
<div class="content-section-b">
    <div class="container">
        <div class="row">
            <div class="col-lg-offset-1 col-lg-6 col-sm-7">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Overvejer du eller er du ved at indgå en ejendomshandel?</h2>
                <p class="lead">Hvad enten du er ved at købe hus, sommerhus, ejerlejlighed eller byggegrund, skal du have udarbejdet et skøde. Herefter kan handlen tinglyses og berigtiges. </p>
                <a ng-href="#!/sagsgang" class="btn btn-default btn-lg more-btn" ng-click="toTheTop()">Læs mere om sagsgangen</a>
            </div>
            <div class="col-sm-5 col-md-offset-1 col-md-4">
                <img class="img-responsive img-circle" src="img/write_paper.jpg" alt="">
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>
<div class="content-section-a">
    <div class="container">
        <div class="row">
            <div class="col-lg-offset-1 col-lg-4 col-sm-5">
                <img class="img-responsive img-circle" src="img/profil.jpg" alt="Jens Ryhave">
            </div>
            <div class="col-lg-6 col-sm-7">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Ryhave Skødeskrivning <br>ved Konsulent Jens Ryhave</h2>
                <p class="lead">Med afsæt i en videregående økonomisk uddannelse og efterfølgende 35 års tjeneste i Kriminalpolitiet, har jeg oplevet mange sager, hvor en bolighandel er endt med personlige og økonomiske problemer. Med min ekspertise og erfaring kan jeg hjælpe dig med at udarbejde et korrekt skøde.</p>
                <a ng-href="#!/om" class="btn btn-default btn-lg more-btn" ng-click="toTheTop()">Læs mere om Ryhave</a>
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>
<div class="content-section-b">
    <div class="container">
        <div class="row">
            <div class="col-lg-offset-1 col-lg-6 col-sm-7">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Hvad er en købsaftale? Skøde? Tinglysning?</h2>
                <p class="lead">Der kan være mange spørgsmål i forbindelse med gennemgang af købsaftalen og de tilhørende dokumenter. Hvad er et skøde? Hvordan berigtiges en handel? Find svarene her. </p>
                <a ng-href="#!/faq" class="btn btn-default btn-lg more-btn" ng-click="toTheTop()">Ofte stillede spørgsmål</a>
            </div>
            <div class="col-sm-5 col-md-offset-1 col-md-4">
                <img class="img-responsive img-circle" src="img/faq.jpg" alt="">
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>
<!-- /.content-section-a -->