<div class="container">
	<!-- <h1>Kontakt </h1> -->
	<br>
	<div class="row">
		<div class="col-md-6">
			<div class="well well-sm contact-page-col">
				<form ng-submit="submit(contactform)" name="contactform" method="post" action="" class="form-horizontal" role="form">
					<legend class="text-center header">Send en besked</legend>
					<div class="form-group" ng-class="{ 'has-error': contactform.inputName.$invalid && submitted }">
						<label for="inputName" class="col-lg-2 control-label">Navn</label>
						<div class="col-lg-10">
							<input ng-model="formData.inputName" type="text" class="form-control" id="inputName" name="inputName" placeholder="For- og efternavn" required>
						</div>
					</div>
					<div class="form-group" ng-class="{ 'has-error': contactform.inputEmail.$invalid && submitted }">
						<label for="inputEmail" class="col-lg-2 control-label">Email</label>
						<div class="col-lg-10">
							<input ng-model="formData.inputEmail" type="email" class="form-control" id="inputEmail" name="inputEmail" placeholder="Emailadresse" required>
						</div>
					</div>
					<div class="form-group" ng-class="{ 'has-error': contactform.inputPhone.$invalid && submitted }">
						<label for="inputPhone" class="col-lg-2 control-label">Telefon</label>
						<div class="col-lg-10">
						<input ng-model="formData.inputPhone" type="number" class="form-control" id="inputPhone" name="inputPhone" placeholder="Telefonnummer" required>
						</div>
					</div>
					<div class="form-group" ng-class="{ 'has-error': contactform.inputMessage.$invalid && submitted }">
						<label for="inputMessage" class="col-lg-2 control-label">Besked</label>
						<div class="col-lg-10">
							<textarea ng-model="formData.inputMessage" class="form-control" rows="8" id="inputMessage" name="inputMessage" placeholder="Indtast venligst en besked. Beskriv hvad du ønsker at få hjælp til, og hvilken ejendom det drejer sig om." required></textarea>
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-12 text-center">
							<button type="submit" class="btn btn-primary" ng-disabled="submitButtonDisabled">
								Send Besked
							</button>
						</div>
					</div>
				</form>
				<p ng-class="result" class="message">{{ resultMessage }}</p>

			</div>
		</div>
		<div class="col-md-6">
			<div>
				<div class="panel panel-default contact-page-col">
					<div class="panel-body text-center">
						<iframe width="100%" height="375" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=Ryhave%20Sk%C3%B8der%20v%2FJens%20Ryhave%2C%20Jorden%20Rundt%2C%20Grindsted%2C%20Danmark&key=AIzaSyCiIfBr_yuu0pqWq8UF7AdZeFo1bvk1Ksw&zoom=10"></iframe>
						<h4>Ryhave Skødeskrivning</h4>
						<h5>v/ Konsulent Jens Ryhave</h5>
						<address>
							Jorden Rundt 29<br />
							7200 Grindsted<br />
							Tlf: 2043 1085<br />
							CVR: 29369941<br />
							<a href="mailto:jens@ryhave.dk">jens@ryhave.dk</a>
						</address>						
					</div>
				</div>
			</div>
		</div>
	</div>
</div>